{% extends 'layout.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'libraries\bootstrap-5.0.0-beta3-dist\css\bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'libraries\DataTables\datatables.min.css' %}">
{% endblock %}
{% block menu %}
<ul>
    <li><a class='selected' href="{% url 'administrador' %}">Gestionar usuarios</a></li>
    <li><a href="{% url 'administrador' %}">Gestionar adultos mayores</a></li>
    <li><a href="{% url 'administrador' %}">Solicitudes de edición</a></li>
    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="users-container">
    <div class="users-top">
        <h1>GESTIÓN DE USUARIOS</h1>
    </div>
    
    <div>
        <label for="campo-busqueda">Buscar por:</label>
        <form class="search-cont" method="get">
        {% if not search %}
        <select class="register-field select1" name="campo-busqueda" id="campo-busqueda">
            <option value="Nombre(s)">Nombre(s)</option>
            <option value="Apellido Paterno">Apellido Paterno</option>
            <option value="Apellido Materno">Apellido Materno</option>
            <option value="No. Empleado">No. Empleado</option>
            <option value="Usuario">Usuario</option>
        </select>
        <label id="user-label2" for="user-search">Datos de búsqueda:</label>
        <input required id="user-search" name="user-search" class="register-field" type="search" placeholder="Ingresa los datos de búsqueda">
        <button class="btn-nuevo-usuario" type="submit">Realizar búsqueda</button>
        {% elif search %}
        <select readonly class="register-field select1" name="campo-busqueda" id="campo-busqueda">
            <option>{{field}}</option>
        </select>
        <label id="user-label2" for="user-search">Datos de búsqueda:</label>
        <input readonly id="user-search" name="user-search" class="register-field" type="search" placeholder="{{searchInput}}">
        <a class="btn-nuevo-usuario" href="{% url 'administrador' %}">Borrar búsqueda </a>
        {% endif %}
        </form>
        <a class="btn-nuevo-usuario" href="{% url 'registrar_usuario' %}">Crear Usuario <img class="btn-img" src="{% static 'images/plus1_icon.png' %}" alt=""></a>
    </div>
    
    {% if users %}
    <table id="tabla-usuarios">
        <thead>
        <tr id="tabla-usuario-fr">
            <th>Nombre(s)</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>No. Empleado</th>
            <th>Rol Usuario</th>
            <th>Estado</th>
            <th id="acc-hd">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td class='tabla-celda tabla-largo'>{{user.nombres}}</td>
            <td class='tabla-celda'>{{user.apellido_paterno}}</td>
            <td class="tabla-celda">
            {% if user.apellido_materno is not None %}
            {{user.apellido_materno}}
            {% endif %}
            </td>
            <td class='tabla-celda tabla-menos'>{{user.numero_empleado}}</td>
            <td class='tabla-celda tabla-perfil'>{{user.tipo_usuario}}</td>
            <td class='tabla-celda tabla-menos'>
            {% if user.active is True %}
            <span class="active-indicator">Activo</span>
            {% endif %}
            {% if user.active is False %}
            <span class="inactive-indicator">Inactivo</span>
            {% endif %}
            </td>
            <td class='tabla-celda celda-botones'>
            <a href="{% url 'ver_usuario' user.id %}" class="boton-editar"><img class="btn-img" src="{% static 'images/view_icon.png' %}" alt=""></a>
            <a href="{% url 'editar_usuario' user.id %}" class="boton-editar"><img class="btn-img" src="{% static 'images/edit_icon.png' %}" alt=""></a>
            {% if user.active is True %}
            <a href="{% url 'eliminar_usuario' user.id %}" class="boton-eliminar"><img class="btn-img" src="{% static 'images/trash_icon.png' %}" alt=""></a></td>
            {% endif %}
            {% if user.active is False %}
            <a href="{% url 'reactivar_usuario' user.id %}" class="boton-eliminar"><img class="btn-img" src="{% static 'images/check_icon.png' %}" alt=""></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'libraries\jQuery-3.3.1\jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries\DataTables\datatables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#tabla-usuarios').DataTable({
        //     columnDefs: [
        //     { width: auto, targets: 0 }
        // ],
        // fixedColumns: true,
        // colReorder: true,
            "language": {
    "aria": {
        "sortAscending": "Activar para ordenar la columna de manera ascendente",
        "sortDescending": "Activar para ordenar la columna de manera descendente"
    },
    "autoFill": {
        "cancel": "Cancelar",
        "fill": "Rellene todas las celdas con <i>%d&lt;\\\/i&gt;<\/i>",
        "fillHorizontal": "Rellenar celdas horizontalmente",
        "fillVertical": "Rellenar celdas verticalmentemente"
    },
    "buttons": {
        "collection": "Colección",
        "colvis": "Visibilidad",
        "colvisRestore": "Restaurar visibilidad",
        "copy": "Copiar",
        "copyKeys": "Presione ctrl o u2318 + C para copiar los datos de la tabla al portapapeles del sistema. <br \/> <br \/> Para cancelar, haga clic en este mensaje o presione escape.",
        "copySuccess": {
            "1": "Copiada 1 fila al portapapeles",
            "_": "Copiadas %d fila al portapapeles"
        },
        "copyTitle": "Copiar al portapapeles",
        "csv": "CSV",
        "excel": "Excel",
        "pageLength": {
            "-1": "Mostrar todas las filas",
            "1": "Mostrar 1 fila",
            "_": "Mostrar %d filas"
        },
        "pdf": "PDF",
        "print": "Imprimir"
    },
    "decimal": ",",
    "emptyTable": "No se encontraron resultados",
    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
    "infoThousands": ",",
    "lengthMenu": "Mostrar _MENU_ registros",
    "loadingRecords": "Cargando...",
    "paginate": {
        "first": "Primero",
        "last": "Último",
        "next": "Siguiente",
        "previous": "Anterior"
    },
    "processing": "Procesando...",
    "search": "Buscar:",
    "searchBuilder": {
        "add": "Añadir condición",
        "button": {
            "0": "Constructor de búsqueda",
            "_": "Constructor de búsqueda (%d)"
        },
        "clearAll": "Borrar todo",
        "condition": "Condición",
        "data": "Data",
        "deleteTitle": "Eliminar regla de filtrado",
        "leftTitle": "Criterios anulados",
        "logicAnd": "Y",
        "logicOr": "O",
        "rightTitle": "Criterios de sangría",
        "title": {
            "0": "Constructor de búsqueda",
            "_": "Constructor de búsqueda (%d)"
        },
        "value": "Valor"
    },
    "searchPanes": {
        "clearMessage": "Borrar todo",
        "collapse": {
            "0": "Paneles de búsqueda",
            "_": "Paneles de búsqueda (%d)"
        },
        "count": "{total}",
        "countFiltered": "{shown} ({total}",
        "emptyPanes": "Sin paneles de búsqueda",
        "loadMessage": "Cargando paneles de búsqueda",
        "title": "Filtros Activos - %d"
    },
    "select": {
        "1": "%d fila seleccionada",
        "_": "%d filas seleccionadas",
        "cells": {
            "1": "1 celda seleccionada",
            "_": "$d celdas seleccionadas"
        },
        "columns": {
            "1": "1 columna seleccionada",
            "_": "%d columnas seleccionadas"
        }
    },
    "thousands": ",",
    "zeroRecords": "No se encontraron resultados",
    "datetime": {
        "previous": "Anterior",
        "next": "Proximo",
        "hours": "Horas",
        "minutes": "Minutos",
        "seconds": "Segundos",
        "unknown": "-",
        "amPm": [
            "am",
            "pm"
        ]
    },
    "editor": {
        "close": "Cerrar",
        "create": {
            "button": "Nuevo",
            "title": "Crear Nuevo Registro",
            "submit": "Crear"
        },
        "edit": {
            "button": "Editar",
            "title": "Editar Registro",
            "submit": "Actualizar"
        },
        "remove": {
            "button": "Eliminar",
            "title": "Eliminar Registro",
            "submit": "Eliminar",
            "confirm": {
                "_": "¿Está seguro que desea eliminar %d filas?",
                "1": "¿Está seguro que desea eliminar 1 fila?"
            }
        },
        "error": {
            "system": "Ha ocurrido un error en el sistema (<a target=\"\\\" rel=\"\\ nofollow\" href=\"\\\">Más información&lt;\\\\\\\/a&gt;).&lt;\\\/a&gt;<\/a>"
        },
        "multi": {
            "title": "Múltiples Valores",
            "info": "Los elementos seleccionados contienen diferentes valores para este registro. Para editar y establecer todos los elementos de este registro con el mismo valor, hacer click o tap aquí, de lo contrario conservarán sus valores individuales.",
            "restore": "Deshacer Cambios",
            "noMulti": "Este registro puede ser editado individualmente, pero no como parte de un grupo."
        }
    }
} 
        });
    });
</script>
{% endblock %}