{% extends 'users/administrador/administrador_layout.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'libraries\bootstrap-5.0.0-beta3-dist\css\bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<form class='registerform2' method = "POST" enctype = "multipart/form-data">
    <h1>Registrar Adulto Mayor</h1>
    {% csrf_token %}

    <div class="container-adult-form" id="cont1">
        <h3>DATOS DE IDENTIFICACIÓN</h3>
        <div>
            {{form.idp.errors}}
            {{form.idp}}
        </div>
        <div class="adult-form-multiple">
            {{form.nombres.errors}}
            {{form.nombres}}
            {{form.apellido_paterno.errors}}
            {{form.apellido_paterno}}
            {{form.apellido_materno.errors}}
            {{form.apellido_materno}}
        </div>
        <div class="adult-form-multiple">
            <span>
                {{form.check_fechanacimiento.errors}}
                {{form.check_fechanacimiento.label_tag}}
                {{form.check_fechanacimiento}}
            </span>
            <span class="hide">
                {{form.fechanacimiento.errors}}
                {{form.fechanacimiento.label_tag}}
                {{form.fechanacimiento}}
            </span>
            {{form.lugarnacimiento.errors}}
            {{form.lugarnacimiento}}
        </div>
        <div class="adult-form-multiple">
            {{form.edad.errors}}
            {{form.edad}}
            <span>
                {{form.sexo.errors}}
                {{form.sexo.label_tag}}
                {{form.sexo}}
            </span>
            {{form.curp.errors}}
            {{form.curp}}
            {{form.rfc.errors}}
            {{form.rfc}}
        </div>
        <div class="adult-form-multiple">
            {{form.telefono.errors}}
            {{form.telefono}}
            <span>
                {{form.latitud.errors}}
                {{form.latitud.label_tag}}
                {{form.latitud}}
            </span>
            <span>
                {{form.longitud.errors}}
                {{form.longitud.label_tag}}
                {{form.longitud}}
            </span>
        </div>
        <div class="adult-form-multiple">
            <span>
                {{form.check_direccion.errors}}
                {{form.check_direccion.label_tag}}
                {{form.check_direccion}}
            </span>
            {{form.calle.errors}}
            {{form.calle}}
            {{form.num_externo.errors}}
            {{form.num_externo}}
            {{form.num_interno.errors}}
            {{form.num_interno}}
        </div>
        <div class="adult-form-multiple">
            {{form.colonia.errors}}
            {{form.colonia}}
            {{form.codigo_pos.errors}}
            {{form.codigo_pos}}
            {{form.delegacion.errors}}
            {{form.delegacion}}
        </div>
        <div class="adult-form-multiple">
            {{form.entre1.errors}}
            {{form.entre1}}
            {{form.entre2.errors}}
            {{form.entre2}}
        </div>
    
    </div>

    <div class="container-adult-form" id="cont3">
        <h3>CÉDULA DE RIESGO</h3>
        <div class="adult-form-multiple">
            <span>
                {{form.ocupacion.errors}}
                {{form.ocupacion.label_tag}}
                {{form.ocupacion}}
            </span>
            <span>
                {{form.ocupacion_anterior.errors}}
                {{form.ocupacion_anterior.label_tag}}
                {{form.ocupacion_anterior}}
            </span>
        </div>
        <div class="adult-form-multiple">
            <span>
                {{form.estado_civil.errors}}
                {{form.estado_civil.label_tag}}
                {{form.estado_civil}}
            </span>
            <span>
                {{form.seguridad_social.errors}}
                {{form.seguridad_social.label_tag}}
                {{form.seguridad_social}}
            </span>
            {{form.seguridad_social_otro.errors}}
            {{form.seguridad_social_otro}}
            <span>
                {{form.utiliza_seguridad_social.errors}}
                {{form.utiliza_seguridad_social.label_tag}}
                {{form.utiliza_seguridad_social}}
            </span>
        </div>
        <h4>Acompañante</h4>
        <div class="adult-form-multiple adult-form-small">
            <span>
                {{form.acompanante.errors}}
                {{form.acompanante.label_tag}}
                {{form.acompanante}}
            </span>
            {{form.acompanante_otro.errors}}
            {{form.acompanante_otro}}
        </div>
        <div class="adult-form-multiple">
            <span class="hide">
                {{form.acompanante_sexo.errors}}
                {{form.acompanante_sexo.label_tag}}
                {{form.acompanante_sexo}}
            </span>
            <span class="hide">
                {{form.check_acompanante_edad.errors}}
                {{form.check_acompanante_edad.label_tag}}
                {{form.check_acompanante_edad}}
            </span>
            {{form.acompanante_edad.errors}}
            {{form.acompanante_edad}}
        </div>
        <h4>Cuidador</h4>
        <div class="adult-form-multiple">
            <span>
                {{form.check_cuidador.errors}}
                {{form.check_cuidador.label_tag}}
                {{form.check_cuidador}}
            </span>
            <span class="hide">
                {{form.cuidador.errors}}
                {{form.cuidador.label_tag}}
                {{form.cuidador}}
            </span>
            {{form.cuidador_otro.errors}}
            {{form.cuidador_otro}}
        </div>
        <div class="adult-form-multiple">
            <span class="hide">
                {{form.cuidador_sexo.errors}}
                {{form.cuidador_sexo.label_tag}}
                {{form.cuidador_sexo}}
            </span>
            <span class="hide">
                {{form.check_cuidador_edad.errors}}
                {{form.check_cuidador_edad.label_tag}}
                {{form.check_cuidador_edad}}
            </span>
            {{form.cuidador_edad.errors}}
            {{form.cuidador_edad}}
        </div>
        <h4>Profesional en servicios</h4>
        <div class="adult-form-multiple">
            {{form.nombres_profesional.errors}}
            {{form.nombres_profesional}}
            {{form.apellido_paterno_profesional.errors}}
            {{form.apellido_paterno_profesional}}
            {{form.apellido_materno_profesional.errors}}
            {{form.apellido_materno_profesional}}
        </div>
        <div class="adult-form-multiple">
            <span>
                {{form.fechaevaluacion.errors}}
                {{form.fechaevaluacion.label_tag}}
                {{form.fechaevaluacion}}
            </span>
        </div>
        <h4>Actividades básicas de la vida diaria</h4>
        <div>
            <p style="color: #acacac;">Deberá preguntar si el adulto mayor tiene algún grado de dificultad para la realización de la actividad de la siguiente manera: ¿En este
                momento, tiene usted alguna dificultad para (actividad)?</p>
        </div>
        <div>
            <table id="table1" class="table table-bordered table-actividades-b">
                <thead>
                  <tr>
                    <th scope="col" rowspan="2">¿En este momento,<br>tiene usted dificultad<br>para...</th>
                    <th scope="col" colspan="2">INDEPENDIENTE (1 punto)</th>
                    <th scope="col" rowspan="2">DEPENDIENTE<br>(0 puntos)<br>(D)</th>
                    <th scope="col" rowspan="2">RESPUESTA</th>
                  </tr>
                  <tr>
                      <th>INDEPENDIENTE TOTAL<br>(I)</th>
                      <th>INDEPENDIENTE CON AYUDA<br>(IA)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span style="font-weight: bolder;">Bañarse?</span> (baño de<br>
                        esponja, en tina o<br>
                        regadera)</th>
                    <td>No recibe asistencia (entra y<br>
                        sale de la tina por sí mismo(a) si<br>
                        la bañera es el medio principal<br>
                        de baño)</td>
                    <td>Recibe asistencia con solamente<br> 
                        una parte del cuerpo (como la<br>
                        espalda o una pierna)</td>
                    <td>Recibe asistencia con<br>
                        más de una parte del<br>
                        cuerpo (o no se baña)</td>
                    <td class="table-adult-input">
                        {{form.bañarse.errors}}
                        {{form.bañarse}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span style="font-weight: bolder;">Vestirse?</span> (saca la ropa<br>
                        del armario y/o cajones,<br>
                        incluye ropa interior,<br>
                        exterior y elementos de<br>
                        fijación como tirantes o<br>
                        cinturón)
                    </td>
                    <td>
                        Saca la ropa y se viste<br>
                        completamente sin asistencia
                    </td>
                    <td>
                        Saca la ropa y se viste sin<br>
                        asistencia excepto para atar<br>
                        los cordones de los zapatos
                    </td>
                    <td>
                        Recibe asistencia para<br>
                        sacar la ropa o para<br>
                        vestirse, o permanece<br>
                        parcial o<br>
                        completamente sin<br>
                        vestirse
                    </td>
                    <td class="table-adult-input">
                        {{form.vestirse.errors}}
                        {{form.vestirse}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <span style="font-weight: bolder;">Usar el sanitario?</span> (ir al <br>
                        cuarto de baño para<br>
                        eliminación urinaria o<br>
                        intestinal, se asea solo(a)<br>
                        y se arregla la ropa)
                      </td>
                      <td>
                        Va al cuarto de baño, se asea y<br>
                        arregla la ropa sin asistencia<br>
                        (puede usar objetos de soporte<br>
                        como bastón, caminadora o<br>
                        silla de ruedas y puede manejar<br>
                        un cómodo, urinal o baño<br>
                        portátil por la noche y vaciarlo<br>
                        por la mañana)
                      </td>
                      <td>
                        Recibe asistencia para ir al<br>
                        cuarto de baño, o para asearse,<br>
                        o para arreglarse la ropa tras<br>
                        la eliminación o en el uso de<br>
                        un cómodo, urinal o baño<br>
                        portátil
                      </td>
                      <td>
                        No va al baño para el<br>
                        proceso de eliminación<br>
                      </td>
                      <td class="table-adult-input">
                        {{form.sanitario.errors}}
                        {{form.sanitario}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span style="font-weight: bolder;">Trasladarse<br>
                        (desplazarse)?</span><br>
                        (entrar/salir de la cama,<br>
                        sentarse/levantarse de<br>
                        una silla)
                    </td>
                    <td>
                        Entra y sale de la cama y se<br>
                        sienta y se levanta de una silla<br>
                        sin asistencia (puede usar<br>
                        objetos de soporte como un<br>
                        bastón o caminadora)
                    </td>
                    <td>
                        Entra o sale de la cama, se<br>
                        sienta o se levanta de una<br>
                        silla con asistencia
                    </td>
                    <td>
                        No se levanta de la<br>
                        cama
                    </td>
                    <td class="table-adult-input">
                        {{form.trasladarse.errors}}
                        {{form.trasladarse}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span style="font-weight: bolder;">Mantener la continencia?</span><br>
                        (controlar<br>
                        la micción, defecación)
                    </td>
                    <td>
                        Controla la micción y los<br>
                        movimientos intestinales por sí<br>
                        mismo(a)
                    </td>
                    <td>
                        Tiene accidentes ocasionales
                    </td>
                    <td>
                        Requiere<br>
                        supervisión/ayuda<br>
                        para mantener el<br>
                        control de la orina o<br>
                        del intestino; usa<br>
                        catéter o es<br>
                        incontinente
                    </td>
                    <td class="table-adult-input">
                        {{form.continencia.errors}}
                        {{form.continencia}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <span style="font-weight: bolder;">Alimentarse?</span>
                      </td>
                      <td>
                        Come solo(a) sin asistencia
                      </td>
                      <td>
                        Se alimenta solo(a) pero<br>
                        requiere asistencia para<br>
                        cortar la carne o untar la<br>
                        mantequilla en el pan
                      </td>
                      <td>
                        Recibe asistencia para<br>
                        alimentarse o es<br>
                        alimentado(a) parcial o<br>
                        completamente<br>
                        mediante sondas o<br>
                        fluidos intravenosos
                      </td>
                      <td class="table-adult-input">
                        {{form.alimentarse.errors}}
                        {{form.alimentarse}}
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <span style="font-weight: bolder;">TOTAL</span>
                      </td>
                      <td colspan="4">
                          <span class="float-end me-2" style="font-weight: bolder;" id="tot1">0</span>
                      </td>
                  </tr>
                </tbody>
              </table>
        </div>

        <h4>Escala de actividades instrumentadas de la vida diaria (Lawton y Brody)</h4>
        <div>
            <p style="color: #acacac;">Calificar máximo un punto por pregunta.</p>
        </div>
        <div>
            <table id="table2" class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th scope="col">ACTIVIDADES INSTRUMENTADAS DE LA VIDA DIARIA (LAWTON)</th>
                        <th scope="col">RESPUESTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                           <span style="font-weight: bolder;">1) <span style="margin-left: 15px;">Capacidad para usar el teléfono</span></span><br>
                            1: Lo opera por iniciativa propia, lo marca sin problema.<br>
                            1: Marca sólo unos cuantos números bien conocidos.<br>
                            1: Contesta el teléfono pero no llama.<br>
                            0: No usa el teléfono.
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_telefono.errors}}
                            {{form.lawton_telefono}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">2) <span style="margin-left: 15px;"> Transporte</span></span> <br>
                            1: Viaja de forma independiente en el transporte público o maneja su propio coche<br>
                            1: Puede viajar solo en taxi, pero no lo hace en el transporte público<br>
                            1: Viaja en el transporte público, solo cuando es asistido o acompañado de otro<br>
                            0: Viaja limitado a taxi o automóvil con ayuda de otra persona<br>
                            0: No puede viajar en absoluto<br>
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_transporte.errors}}
                            {{form.lawton_transporte}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">3) <span style="margin-left: 15px;"> Medicación </span></span> <br>
                            1: Se encarga de tomar la medicación en la dosis correcta y a la hora correcta<br>
                            0: Toma el medicamento si se prepara la medicación previamente en dosificaciones separadas<br>
                            0: No es capaz de tomar sus medicamentos
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_medicacion.errors}}
                            {{form.lawton_medicacion}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">4) <span style="margin-left: 15px;"> Finanzas</span></span> <br>
                            1: Gestiona los asuntos financieros de forma independiente (presupuestos, escribe cheques, paga el<br>
                            alquiler y las facturas, va al banco); recopila y realiza un seguimiento de los ingresos<br>
                            1: Gestiona las compras del día a día, pero necesita ayuda con la banca y compras mayores<br>
                            0: Es incapaz de manejar dinero
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_finanzas.errors}}
                            {{form.lawton_finanzas}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">5) <span style="margin-left: 15px;"> Compras</span></span> <br>
                            1: Se encarga de todas sus necesidades de compras de forma independiente<br>
                            0: Hace de forma independiente pequeñas compras<br>
                            0: Necesita ir acompañado para realizar cualquier compra<br>
                            0: Es completamente incapaz de realizar compras
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_compras.errors}}
                            {{form.lawton_compras}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">6) <span style="margin-left: 15px;"> Cocina</span></span> <br>
                            1: Planea, prepara y sirve los alimentos correctamente<br>
                            0: Prepara los alimentos sólo si se le provee de lo necesario<br>
                            0: Calienta, sirve y prepara pero no lleva una dieta adecuada<br>
                            0: Necesita que le preparen los alimentos
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_cocina.errors}}
                            {{form.lawton_cocina}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">7) <span style="margin-left: 15px;"> Cuidado del Hogar</span></span><br>
                            1: Mantiene la casa solo o con ayuda ocasional (trabajo pesado: jardinería, plomería)<br>
                            1: Realiza las tareas diarias ligeras (lavar trastes, arreglar la cama)<br>
                            1: Realiza las tareas diarias, pero no puede mantener un nivel aceptable de limpieza<br>
                            1: Necesita ayuda en todas las tareas de mantenimiento del hogar<br>
                            0: No participa en las tareas de mantenimiento del hogar
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_hogar.errors}}
                            {{form.lawton_hogar}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;">8) <span style="margin-left: 15px"> Lavandería </span></span><br>
                            1: Se ocupa del lavado de su ropa independientemente<br>
                            1: Lava sólo pequeñas cosas (calcetines, medias, etc.)<br>
                            0: Toda su ropa tiene que ser lavada por otras personas
                        </td>
                        <td class="table-adult-input">
                            {{form.lawton_lavanderia.errors}}
                            {{form.lawton_lavanderia}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bolder;"> 
                                TOTAL
                            </span>
                        </td>
                        <td>
                            <span id="tot2" class="float-end me-2" style="font-weight: bolder">
                                0
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Cognición</h4>
        <div>
            <table class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th scope="col">PREGUNTA</th>
                        <th scope="col">RESPUESTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            ¿Tiene problemas de memoria?
                        </td>
                        <td class="table-adult-input">
                            {{form.cognicion_memoria.errors}}
                            {{form.cognicion_memoria}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ¿Estos problemas de memoria le impiden realizar sus actividades de la vida diaria?
                        </td>
                        <td class="table-adult-input">
                            {{form.cognicion_actividades.errors}}
                            {{form.cognicion_actividades}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ¿Los problemas de memoria son desde hace un año o más?
                        </td>
                        <td class="table-adult-input">
                            {{form.cognicion_tiempo.errors}}
                            {{form.cognicion_tiempo}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Estado de ánimo</h4>
        <div>
            <p style="color: #acacac;">Si total es 4 o más = Activo.</p>
        </div>
        <div>
            <table id="table3" class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th>
                            DEPRESIÓN
                        </th>
                        <th>
                            RESPUESTA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            ¿Siente que su vida está vacía?
                        </td>
                        <td class="table-adult-input">
                            {{form.depresion_vacio.errors}}
                            {{form.depresion_vacio}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ¿Se siente con frecuencia aburrido/a?
                        </td>
                        <td class="table-adult-input">
                            {{form.depresion_aburrido.errors}}
                            {{form.depresion_aburrido}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ¿Se encuentra de buen humor la mayor parte del tiempo?
                        </td>
                        <td class="table-adult-input"> 
                            {{form.depresion_tiempo.errors}}
                            {{form.depresion_tiempo}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ¿Con frecuencia se siente desamparado o desprotegido?
                        </td>
                        <td class="table-adult-input">
                            {{form.depresion_protegido.errors}}
                            {{form.depresion_protegido}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ¿Se siente lleno/a de energía?
                        </td>
                        <td class="table-adult-input">
                            {{form.depresion_energia.errors}}
                            {{form.depresion_energia}}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bolder">
                            TOTAL
                        </td>
                        <td>
                            <span id="tot3" class="float-end me-5" style="font-weight: bolder">
                                0
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Escala de fragilidad</h4>
        <div>
            <p style="color: #acacac;">Si total es 3 o más = Fragilidad.</p>
        </div>
        <div>
            <table id="table4" class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th>
                            PREGUNTA
                        </th>
                        <th>
                            RESPUESTA
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. ¿Se siente cansado todo el tiempo? (o la mayor parte del tiempo)
                        </td>
                        <td class="table-adult-input">
                            {{form.fragilidad_cansado.errors}}
                            {{form.fragilidad_cansado}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. ¿Puede subir escaleras sin ayuda? (Un piso, sin bastón o andadera)
                        </td>
                        <td class="table-adult-input">
                            {{form.fragilidad_escaleras.errors}}
                            {{form.fragilidad_escaleras}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. ¿Puede caminar 5 cuadras sin ayuda? (incluyendo bastón, andadera)
                        </td>
                        <td class="table-adult-input"> 
                            {{form.fragilidad_cuadras.errors}}
                            {{form.fragilidad_cuadras}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4. ¿Ha perdido peso, 5 o más Kg, en los últimos 6 meses, sin proponerselo?
                        </td>
                        <td class="table-adult-input">
                            {{form.fragilidad_peso.errors}}
                            {{form.fragilidad_peso}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5. ¿Puede cargar peso, 5 Kg o más?
                        </td>
                        <td class="table-adult-input">
                            {{form.fragilidad_cargar.errors}}
                            {{form.fragilidad_cargar}}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bolder">
                            TOTAL
                        </td>
                        <td>
                            <span id="tot4" class="float-end me-5" style="font-weight: bolder">
                                0
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Autopercepción de la salud</h4>
        <div>
            <p style="color: #acacac;">Realice las siguientes preguntas y registre la respuesta de la persona mayor.</p>
        </div>
        <div>
            {{form.autopercepcion_salud.errors}}
            {{form.autopercepcion_salud.label_tag}}
            {{form.autopercepcion_salud}}
        </div>
        <div>
            {{form.autopercepcion_actividades.errors}}
            {{form.autopercepcion_actividades.label_tag}}
            {{form.autopercepcion_actividades}}
        </div>

        <h4>Factores de riesgo de disfuncionalidad</h4>
        <div>
            <table class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th>PREGUNTA</th>
                        <th>RESPUESTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. ¿Considera usted que presenta problemas para caminar?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_1.errors}}
                            {{form.riesgo_1}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. ¿Puede levantarse de una silla sin ayuda?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_2.errors}}
                            {{form.riesgo_2}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. ¿Cuántas veces se ha caído en el último año?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_3.errors}}
                            {{form.riesgo_3}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4. ¿De estas caídas, se presentó algún problema para caminar o quedo sin moverse? (Actualmente)
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_4.errors}}
                            {{form.riesgo_4}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5. Ha presentado fractura de cadera en los últimos 6 meses?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_5.errors}}
                            {{form.riesgo_5}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6. ¿Usa bastón, andadera o silla de ruedas para trasladarse?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_6.errors}}
                            {{form.riesgo_6}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7. ¿Tiene la vista borrosa o se le dificulta enfocar la vista aun con lentes?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_7.errors}}
                            {{form.riesgo_7}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8. ¿Ha disminuido su capacidad para escuchar en el último año?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_8.errors}}
                            {{form.riesgo_8}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9. ¿En los últimos 2 años ha presentado escapes involuntarios de orina?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_9.errors}}
                            {{form.riesgo_9}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10. ¿Tiene úlceras o lesiones en piel?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_10.errors}}
                            {{form.riesgo_10}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11. ¿Toma usted 5 o más medicamentos diferentes en un solo día?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_11.errors}}
                            {{form.riesgo_11}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12. ¿Toma algún medicamento para dormir?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_12.errors}}
                            {{form.riesgo_12}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            13. ¿Consume bebidas alcohólicas?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_13.errors}}
                            {{form.riesgo_13}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14. ¿Fuma usted actualmente?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_14.errors}}
                            {{form.riesgo_14}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15. ¿Se expone a humo de cigarro o leña?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_15.errors}}
                            {{form.riesgo_15}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16. ¿Tiene 20 o más piezas dentarias?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_16.errors}}
                            {{form.riesgo_16}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17. ¿Usa dentadura postiza?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_17.errors}}
                            {{form.riesgo_17}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18. ¿Considera que su alimentación habitual es saludable?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_18.errors}}
                            {{form.riesgo_18}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19. ¿Realiza menos de 2 comidas completas al día?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_19.errors}}
                            {{form.riesgo_19}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20. Normalmente, ¿Come sólo?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_20.errors}}
                            {{form.riesgo_20}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            21. ¿Ha perdido peso en los últimos seis meses, sin proponérselo?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_21.errors}}
                            {{form.riesgo_21}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            22. En los últimos 3 meses, ¿Presenta frecuentemente dificultad para dormir?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_22.errors}}
                            {{form.riesgo_22}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            23. ¿Duerme durante el día por lapsos de más de 20 minutos?
                        </td>
                        <td class="table-adult-input">
                            {{form.riesgo_23.errors}}
                            {{form.riesgo_23}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Multimorbilidad</h4>

        <div>
            <table class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th>PREGUNTA</th>
                        <th>RESPUESTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. ¿Presenta usted dolor en articulaciones (rodillas, caderas, codos, hombros)?
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_1.errors}}
                            {{form.multimorbilidad_1}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. ¿Este dolor articular le limita en la realización de sus actividades habituales?
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_2.errors}}
                            {{form.multimorbilidad_2}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. ¿Presenta mareo cuando se levanta de una silla o de su cama?
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_3.errors}}
                            {{form.multimorbilidad_3}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4. En los últimos 6 meses a usted lo han hospitalizado…<br> <br>
                           <span style="font-weight: bolder;"> a. Problemas de Diabetes, glucosa baja o glucosa alta<br>
                            b. Problemas de presión arterial alta o baja<br>
                            c. Problemas de embolia, infarto cerebral, derrame<br>
                            d. Problemas del corazón<br>
                            e. Enfermedad aguda (neumonía, diarrea, deshidratación)<br>
                            f. COVI19 </span>
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_4.errors}}
                            {{form.multimorbilidad_4}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5. ¿Usa oxigeno suplementario?
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_5.errors}}
                            {{form.multimorbilidad_5}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bolder; padding-top: 50px; padding-bottom: 10px;">
                            ¿Algún médico le ha diagnosticado...?
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6. Diabetes Mellitus
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_6.errors}}
                            {{form.multimorbilidad_6}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7. Hipertensión Arterial
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_7.errors}}
                            {{form.multimorbilidad_7}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8. Cáncer (otro que no sea un cáncer menor en piel)
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_8.errors}}
                            {{form.multimorbilidad_8}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            9. Insuficiencia cardiaca congestiva
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_9.errors}}
                            {{form.multimorbilidad_9}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            10. Angina de pecho
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_10.errors}}
                            {{form.multimorbilidad_10}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11. Enfermedades del Corazón, Infarto u otras cardiopatías
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_11.errors}}
                            {{form.multimorbilidad_11}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            12. Asma
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_12.errors}}
                            {{form.multimorbilidad_12}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            13. Demencia, Enfermedad de Alzheimer o algún otro tipo de demencia
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_13.errors}}
                            {{form.multimorbilidad_13}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            14. Derrames o embolias en el cerebro
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_14.errors}}
                            {{form.multimorbilidad_14}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            15. Cataratas
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_15.errors}}
                            {{form.multimorbilidad_15}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            16. Artritis (incluyendo Osteoartritis y Artritis Reumatoide)
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_16.errors}}
                            {{form.multimorbilidad_16}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            17. Depresión
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_17.errors}}
                            {{form.multimorbilidad_17}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            18. Nefropatía (enfermedad renal)
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_18.errors}}
                            {{form.multimorbilidad_18}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19. Bronquitis Crónica, EPOC
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_19.errors}}
                            {{form.multimorbilidad_19}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            20. ¿Alguna otra?
                        </td>
                        <td class="table-adult-input">
                            {{form.multimorbilidad_20.errors}}
                            {{form.multimorbilidad_20}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Dinámica Social</h4>
        <div>
            <table class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th>PREGUNTA</th>
                        <th>RESPUESTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1. ¿Requiere ayuda para realizar sus actividades de la vida diaria?
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_1.errors}}
                            {{form.dinamica_social_1}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2. ¿Su cuidador lo atiende o podría atenderlo 3 o más horas al día?
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_2.errors}}
                            {{form.dinamica_social_2}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bolder;">En caso de que su estado de salud empeore:</td>
                    </tr>
                    <tr>
                        <td>
                            3. ¿El cuidador podría atenderlo durante 6 semanas o más?
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_3.errors}}
                            {{form.dinamica_social_3}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4. ¿El cuidador tiene capacidad para atender al adulto mayor en todas las actividades básicas de la <br>
                            vida diaria?
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_4.errors}}
                            {{form.dinamica_social_4}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5. ¿Le podría dar los medicamentos que requiere diariamente?
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_5.errors}}
                            {{form.dinamica_social_5}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            6. En caso de no contar con cuidador, ¿Tendría alguien que lo pueda asistir? (informal / <br>
                            remunerado)
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_6.errors}}
                            {{form.dinamica_social_6}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            7. ¿Usted o su cuidador esta interesado en capacitación sobre el cuidado de personas mayores?
                        </td>
                        <td class="table-adult-input">
                            {{form.dinamica_social_7.errors}}
                            {{form.dinamica_social_7}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>PSAM realiza derivación</h4>
        <div>
            <table class="table table-bordered table-actividades-b">
                <thead>
                    <tr>
                        <th>PREGUNTA</th>
                        <th>RESPUESTA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Requiere de orientación del área de Geeontrología
                        </td>
                        <td class="table-adult-input">
                            {{form.derivacion_1.errors}}
                            {{form.derivacion_1}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Requiere de orientación del área médica
                        </td>
                        <td class="table-adult-input">
                            {{form.derivacion_2.errors}}
                            {{form.derivacion_2}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Requiere de orientación del área de violencia
                        </td>
                        <td class="table-adult-input">
                            {{form.derivacion_3.errors}}
                            {{form.derivacion_3}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Requiere seguimiento por parte de PSAM
                        </td>
                        <td class="table-adult-input">
                            {{form.derivacion_4.errors}}
                            {{form.derivacion_4}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type = "submit" style="cursor:pointer" class = "btn-generic btn-next-form-adult">REGISTRAR</button>
    </div>
</form>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js\mainscript.js' %}"></script>
{% endblock %}