{% extends 'users/administrador/administrador_layout.html' %}

{% block content %}
<form class='registerform' method = "POST" enctype = "multipart/form-data">
    <h1 class='form-head-title'>Edición de Usuario</h1>
    <div class="user-hd-form-container">
    <h1>{{user.nombres}} {{user.apellido_paterno}}</h1>
    <img class="user-pp" src="{{user.foto.url}}">
    </div>
    {% csrf_token %}
    {{form.as_p}}
    {% if form.errors %}
    <script>
    let inputs = document.querySelectorAll('.register-field')
        for (let index = 0; index < inputs.length; index++) {
            if (index != 3){
                inputs[index].value = '';
            }}
    </script>
        {% for error in form.errors %}
            {% ifequal error 'password2' %}
                <h2 class="error">Las contraseñas no coinciden</h2>
            {% endifequal %} 
            {% ifequal error 'tipo_usuario' %}
                <h2 class="error">Tipo de usuario inválido</h2>
            {% endifequal %} 
            {% ifequal error 'username' %}
                <h2 class="error">Nombre de usuario ya ocupado</h2>
            {% endifequal %} 
        {% endfor %}
    {% endif %}
    <button type = "submit" style="cursor:pointer" class = "btn btn-primary">Guardar</button>
</form>
{% endblock %}