{% extends 'layout.html' %}

{% block menu %}
<ul>
    <li><a class='selected' href="{% url 'administrador' %}">Gestionar usuarios</a></li>
    <li><a href="{% url 'administrador' %}">Gestionar adultos mayores</a></li>
    <li><a href="{% url 'administrador' %}">Solicitudes de edición</a></li>
    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
</ul>
{% endblock %}

{% block content %}
<form class='registerform' enctype = "multipart/form-data">
    <div class="user-hd-form-container">
    <h1>{{user.nombres}} {{user.apellido_paterno}}</h1>
    <img class="user-pp" src="{{user.foto.url}}">
    </div>
    {{form.as_p}}
    <br></br>
</form>

{% endblock %}